.shop-view {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    cursor: pointer;
    font-size: 28px;
    margin-bottom: 25px;

    &:hover {
      color: var(--grey);
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 800px) {
    // align-items: center;
    padding: 0 10px;
  }
}
