.header {
  background-color: var(--background);
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  .logo-container {
    height: 100%;
    // padding: 25px;
    width: 70px;

    .logo {
      display: none;
    }

    @media screen and (max-width: 800px) {
      padding: 0;
      width: 50px;

      .logo-name {
        display: none;
      }

      .logo {
        display: inherit;
      }
    }
  }

  .options {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 50%;

    .option {
      cursor: pointer;
      padding: 10px 15px;
    }

    @media screen and (max-width: 800px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 800px) {
    height: 60px;
    margin-bottom: 20px;
    padding: 5px;
  }
}
