.custom-button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-family: 'Open Sans Condensed';
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 50px;
  min-width: 165px;
  padding: 0 35px 0 35px;
  text-transform: uppercase;
  width: auto;

  &:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
  }

  &.google-signin {
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background-color: var(--blueHover);
      border: none;
    }
  }

  &.inverted {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);

    &:hover {
      background-color: var(--black);
      border: none;
      color: var(--white);
    }
  }
}
